span {
  font-size: x-large;
}

#progressbarContainer {
  padding: 40px;
}
#updateHistoryContainer {
  width: 100%;
}

#progressbarContainer {
  display: none;
}

#progressbarContainer .form-group {
  text-align: center;
  padding: 40px 0 0 0;
}

#progressbarContainer .form-group button {
  padding: 25px 20px;
}
