html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

span {
  font-size: x-large;
}

#metricsScreen {
  padding: 10px;
}

#summaryValue {
  font-size: 35px;
  margin-bottom: 12px;
}

#listViewContainer.empty {
  background-image: url(./.images/empty_page.svg);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  height: 225px;
}

#updateHistoryContainer {
  padding: 20px 40px;
  height: 100%;
  position: relative;
}

#progressbar-container {
  width: 100%;
  margin-top: 10%;
}

#updateHistoryContainer {
  display: none;
}

.listViewContainer {
  padding: 1rem;
  overflow-y: auto;
  max-height: 100vh;
}
.listViewItem {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0.125rem 0.5rem rgba(50, 50, 50, 0.2);
  margin-bottom: 0.75rem;
  height: 3.75rem;
}
.listViewItem .listViewItemImg {
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  overflow: hidden;
  border-radius: 0.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.listViewItem > .listViewItemCopy {
  flex: auto;
}

.listViewItem .toolbarBadge {
  background-color: red;
  border-radius: 50%;
  color: white;
  width: 1em;
  height: 1em;
  overflow: hidden;
}

.listViewItem .toolbarShare {
  background-color: blue;
  border-radius: 50%;
  color: white;
  width: 1em;
  height: 1em;
  overflow: hidden;
}

.listViewItem .value {
  font-size: 18px;
  margin: 0 10px 0 3px;
}

.listViewItem .material-icons {
  display: inline;
  vertical-align: bottom;
  font-size: 20px;
}

.listViewItemToolbar {
  padding-left: 25px;
}

.summary-card {
  padding: 20px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 900;
}

.listViewItemToolbarItem {
  padding: 10px;
}

.add-btn {
  position: fixed;
  bottom: 5%;
  right: 15%;
}

.close-btn {
  position: fixed;
  bottom: 5%;
  left: 15%;
}

.close-btn button {
  color: black !important;
  background: white !important;
}

#minMax {
  text-align: center;
  margin-top: 25%;
  font-size: 1.6rem;
  font-weight: bold;
}
